_mac/
build/
build_numbers/
cctbxForMaud/
codestyles/
ImageJ/
inspection/
Installers/
script_files/

baseRefactoring.xml
debugger.xml
diff.xml
editor.codeinsight.xml
filetypes.xml
find.xml
gradle.run.settings.xml
ide.general.xml
intelliLang.xml
parameter.hints.xml
print.xml
ui.inf.xml
usageView.xml
web-browsers.xml
